{template '_header'}


<div class="page-header">

    当前位置：<span class="text-primary">{if !empty($level['id'])}编辑{else}添加{/if}保险分润{if !empty($level['id'])}({$level['levelname']}){/if}</span>

</div>


<div class="page-content">

    <div class="page-sub-toolbar">

        <span class=''>
        </span>

    </div>
    <input type="hidden" name="id" value="{$level['id']}"/>
    <div class="form-group">

        <label class="col-lg control-label">代理规则</label>

        <div class="col-sm-9 col-xs-12">
            <div class='input-group fixsingle-input-group'>
                <span class='input-group-addon'>复购周期</span>
                <input type="number" name="agency_purchase_time" id="agency_purchase_time" class="form-control" value="{$agency_rule['agency_purchase_time']}"/>
                <span class='input-group-addon'>天</span>
            </div>
            <div class='input-group fixsingle-input-group' style="margin-top: 5px;">
                <span class='input-group-addon'>指定商品</span>
                <select name="agency_goodsid" id="agency_goodsid" class="form-control tp_is_default" style="width:190px;">
                    {loop $goods  $value}
                    <option value="{$value['id']}" {if $agency_rule['agency_goodsid']==$value['id']}selected{/if}>{$value['title']}</option>
                    {/loop}
                </select>
            </div>

        </div>
    </div>

    <div class="form-group">
    <label class="col-lg control-label"></label>
    <div class="col-sm-9 col-xs-12">
        <input type="submit" value="保存" class="btn btn-primary submit"/>
    </div>
</div>
</div>

{template '_footer'}
<script>
    $('.submit').click(function () {
        var agency_purchase_time = $('#agency_purchase_time').val();

        var agency_goodsid = $('#agency_goodsid option:selected').val()
        if (agency_purchase_time == 0 || agency_goodsid == 0 || agency_ratio == 0){
            tip.msgbox.suc("规则信息请填写完整！");
            return false;
        }

        $.post("{php echo webUrl('member/levelRule/add')}",{
            "agency_purchase_time":agency_purchase_time,

            "agency_goodsid":agency_goodsid,
        },function (res) {
            if(res.code == 0){
                tip.msgbox.suc(res.msg)
                window.location.reload();
            }else{
                tip.msgbox.err(res.msg)
            }
        },'json')
    })
</script>
