{template '_header'}
<div class="page-header">
	当前位置：<span class="text-primary">{if !empty($level['id'])}编辑{else}添加{/if}保险分润{if !empty($level['id'])}({$level['levelname']}){/if}</span>
</div>
<div class="page-content">
	<form action="{php echo webUrl('admins/index/dividend')}" method="post">
		<div class="page-sub-toolbar">
			<span class=''></span>
		</div>
		<div class="form-group">
			<label class="col-lg control-label">指定客服</label>
			<div class="col-sm-9 col-xs-12">
				<select class="form-control tpl-category-parent select2" id="uid" name="uid"  data-rule-required="true" >
					{loop $service_list $v}
					<option value="{$v['uid']}">{$v['username']}</option>
					{/loop}
				</select>
			</div>
		</div>
		<div class="form-group" style="margin-top: 10px;">
			<label class="col-lg control-label"></label>
			<div class="col-sm-9 col-xs-12">
				<input type="submit" value="确定" class="btn btn-primary submit"/>
			</div>
		</div>
	</form>
</div>
{template '_footer'}